.carousel-item {
  width: 50%;
}

.nav-item {
  margin-left: 100px;
}

.carousel-inner > .carousel-item > img {
  width: 1000px;
  height: 700px;
}

.card-img-top {
  height: 300px;
}

.extra {
  top: 100px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.extra1 {
  position: relative;
  top: 100px;
  margin: auto;
  width: 25%;
  text-align: center;
}

.profileImg	{
	width: 400px;
	height: 400px;
	border-radius: 50%;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.reviewEl	{
	margin-left: 50px; 
	margin-right: 50px; 
	margin-top: 100px;
}



.search .search-container {
  float: right;
}

.search input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search .search-container button:hover {
  background: #ccc;
}

.homeCard:hover	{
	
	background-color: #e3e3e3;
}